////////////////////
// Media Queries //
////////////////////
$breakpoint-mobile: 576px;

///////////////////////
// Color Definitions //
///////////////////////
$accentColor: #8c734b;
$accentSecondaryColor: #baa37f;
$textColorDarkBG: white;
$textColorLightBG: black;

/////////////////
// Components //
////////////////

// Buttons
$btnBackgroundColor: $accentColor;
$btnTextColor: $textColorDarkBG;
$btnActiveColor: $accentSecondaryColor;
$btnActiveTextColor: $textColorDarkBG;
$btnHoverBackgroundColor: #7f6944;
$btnHoverTextColor: $textColorDarkBG;

// Table
$tableBackgroundColor: white;
$tableCellColor: black;
$tableRowAlternatingColor: #f2f2f2;
$tableRowHighlightedBackgroundColor: $accentColor;
$tableRowHighlightedTextColor: $textColorDarkBG;