@import "_variables"; //Import global variables

/* Define global font family */
html * {
    font-family: futura-pt, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: $accentColor;
    overflow: hidden;
}

/* Style the buttons inside the navigation bar */
.topnav button {
    background-color: $btnBackgroundColor; 
    border: none;
    color: $btnTextColor;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
  
/* Change the color of buttons on hover */
.topnav button:hover {
    background-color: $btnHoverBackgroundColor;
    color: $btnHoverTextColor;
}
  
/* Add an active class to highlight the current page */
.topnav button.active {
    background-color: $btnActiveColor;
    color: $btnActiveTextColor;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid $tableCellColor;
    min-height: 92vh;
}
  
th, td {
    text-align: left;
    vertical-align: top;
    padding: 8px;
    border: 1px solid $tableCellColor;
}
  
tr:nth-child(odd){background-color: #f2f2f2}
  
th {
    background-color: $accentSecondaryColor;
    color: $textColorDarkBG;
}

td {
    background-color: $tableBackgroundColor;
    color: $textColorLightBG;
}

/* Media Queries */

/* Desktop */
@media screen and (min-width: $breakpoint-desktop) {

    // Clock
    #time {
        font-size: 1rem;
    }

    // Table header
    th {
        font-size:  2rem;
    }

    // Table contents
    tr, td {
        font-size: 1.5rem;   
    }
}

/* Mobile */
@media screen and (max-width: $breakpoint-desktop) {
    
    // Clock
    #time {
        font-size: 0.9rem;
    }

     // Table header
     th {
        font-size:  1rem;
    }

    // Table contents
    tr, td {
        font-size: 0.9rem;   
    }
}